# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual Machine crash logs
hs_err_pid*

# Eclipse IDE
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
*.iws
.idea/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Temporary Files
*~
*.swp
*.swo
*.bak
*.orig
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Config
src/main/resources/config.properties